[submodule "plugins/redmine_backlogs"]
	path = plugins/redmine_backlogs
	url = git://github.com/backlogs/redmine_backlogs.git
[submodule "plugins/redmine_gitolite"]
	path = plugins/redmine_gitolite
	url = git@git.savoirfairelinux.com:projects--viewer_sfl.git
[submodule "plugins/viewer_sfl"]
	path = plugins/viewer_sfl
	url = git@git.savoirfairelinux.com:projects--viewer_sfl.git
[submodule "plugins/sfl_banque_dheure"]
        path = plugins/sfl_banque_dheure
        url = git@git.savoirfairelinux.com:projects--sfl_banque_dheure.git
[submodule "plugins/sfl_default_subtask"]
        path = plugins/sfl_default_subtask
        url = git@git.savoirfairelinux.com:projects--sfl_default_subtask.git
[submodule "plugins/sfl_employees"]
        path = plugins/sfl_employees
        url = git@git.savoirfairelinux.com:projects--sfl_employees.git

